<!-- product wrapper -->
<div class="container pb-16">
    <div class="flex items-center justify-between mb-6">
      <h2 class="text-2xl font-medium text-gray-800 uppercase ">Top New Arrival</h2>
      <a href="#">
        <h3 class="text-lg font-medium text-gray-800 uppercase hover:text-primary">See more
        <span><i class='bx bx-right-arrow-alt'></i></span>
        </h3>
      </a>
    </div>
  
  <!------------ product grid ------------->
  <!------------ product grid ------------->
  
      <div class="grid grid-cols-4 gap-6">
        <!-- single product -->
        <div class="bg-white shadow-md rounded overflow-hidden group">
          <!-- product images -->
          <div class="relative">
            <div class="absolute items-center flex justify-between pt-3 left-3">
              <p class="text-white bg-primary px-3 rounded-md text-xl">25%</p>
            </div>
            <img src="images/Sofa_design.png" class="w-full h-44" alt="">
          </div>
          <!-- product images end -->
  
          <!-- product content  -->
          <div class="pt-4 pb-3 px-4">
            <a href="#">
              <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">HATIL</h4>
            </a>
            <div class="items-center mb-1 ">
              <p class="font-semibold capitalize text-md mb-2 text-gray-500">Comfort plus</p>
              <p class="text-2xl text-gray-500">$899.00
                <span class=" text-lg text-gray-500 line-through">$999.00</span>
              </p>
            </div>
            <div class="flex text-sm text-yellow-400 gap-1">
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span class="text-sm ml-1 text-gray-500">(165)</span>
            </div>
          </div>
          <a href="#" class="uppercase text-center text-white py-2 bg-primary block rounded-b border border-primary hover:bg-transparent hover:text-primary transition w-full">Add to cart</a>
          <!-- product content end -->
        </div>
  
        <!-- single product end -->
              <!-- single product -->
              <div class="bg-white shadow-md rounded overflow-hidden group">
                <!-- product images -->
                <div class="relative">
                  <div class="absolute items-center flex justify-between pt-3 left-3">
                    <p class="text-white bg-primary px-3 rounded-md text-xl">10%</p>
                  </div>
                  <img src="images/dell-xps-13-2022.png" class="w-full h-44" alt="">
                </div>
                <!-- product images end -->
        
                <!-- product content  -->
                <div class="pt-4 pb-3 px-4">
                  <a href="#">
                    <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">Dell</h4>
                  </a>
                  <div class="items-center mb-1 ">
                    <p class="font-semibold capitalize text-md mb-2 text-gray-500">dell-xps-13</p>
                    <p class="text-2xl text-gray-500">$155.00
                      <span class="text-lg text-gray-500 line-through">$165.00</span>
                    </p>
                  </div>
                  <div class="flex text-sm text-yellow-400 gap-1">
                    <span><i class='bx bxs-star'></i></span>
                    <span><i class='bx bxs-star'></i></span>
                    <span><i class='bx bxs-star'></i></span>
                    <span><i class='bx bxs-star'></i></span>
                    <span><i class='bx bxs-star'></i></span>
                    <span class="text-sm ml-1 text-gray-500">(165)</span>
                  </div>
                </div>
                <a href="#" class="uppercase text-center text-white py-2 bg-primary block rounded-b border border-primary hover:bg-transparent hover:text-primary transition w-full">Add to cart</a>
                <!-- product content end -->
              </div>
        
              <!-- single product end -->
                    <!-- single product -->
        <div class="bg-white shadow-md rounded overflow-hidden group">
          <!-- product images -->
          <div class="relative">
            <div class="absolute items-center flex justify-between pt-3 left-3">
              <p class="text-white bg-primary px-3 rounded-md text-xl">25%</p>
            </div>
            <img src="images/a119e21e3f3869720579d00b6263d6bb.jpg" class="w-full h-44" alt="">
          </div>
          <!-- product images end -->
  
          <!-- product content  -->
          <div class="pt-4 pb-3 px-4">
            <a href="#">
              <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">CURRAN</h4>
            </a>
            <div class="items-center mb-1 ">
              <p class="font-semibold capitalize text-md mb-2 text-gray-500">Curran-15</p>
              <p class="text-2xl text-gray-500">$6.50
                <span class="text-lg text-gray-500 line-through">$8.00</span>
              </p>
            </div>
            <div class="flex text-sm text-yellow-400 gap-1">
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span class="text-sm ml-1 text-gray-500">(165)</span>
            </div>
          </div>
          <a href="#" class="uppercase text-center text-white py-2 bg-primary block rounded-b border border-primary hover:bg-transparent hover:text-primary transition w-full">Add to cart</a>
          <!-- product content end -->
        </div>
  
        <!-- single product end -->
              <!-- single product -->
              <div class="bg-white shadow-md rounded overflow-hidden group">
                <!-- product images -->
                <div class="relative">
                  <div class="absolute items-center flex justify-between pt-3 left-3">
                    <p class="text-white bg-primary px-3 rounded-md text-xl">5% OFF</p>
                  </div>
                  <img src="images/bd-galaxy-z-fold3-f926-5g-sm-f926bzkdbkd-thumb-474620539.png" class="w-full h-44" alt="">
                </div>
                <!-- product images end -->
        
                <!-- product content  -->
                <div class="pt-4 pb-3 px-4">
                  <a href="#">
                    <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">SAMSUNG</h4>
                  </a>
                  <div class="items-center mb-1 ">
                    <p class="font-semibold capitalize text-md mb-2 text-gray-500">Z-flip</p>
                    <p class="text-2xl text-gray-500">$299.00
                      <span class="text-lg text-gray-500 line-through">$300.00</span>
                    </p>
                    
                  </div>
                  <div class="flex text-sm text-yellow-400 gap-1">
                    <span><i class='bx bxs-star'></i></span>
                    <span><i class='bx bxs-star'></i></span>
                    <span><i class='bx bxs-star'></i></span>
                    <span><i class='bx bxs-star'></i></span>
                    <span><i class='bx bxs-star'></i></span>
                    <span class="text-sm ml-1 text-gray-500">(165)</span>
                  </div>
                </div>
                <a href="#" class="uppercase text-center text-white py-2 bg-primary block rounded-b border border-primary hover:bg-transparent hover:text-primary transition w-full">Add to cart</a>
                <!-- product content end -->
              </div>
        
              <!-- single product end -->
      </div>
  <!------------ product grid end ------------>
  </div>
  <!-- product wrapper end -->