<!-- banner -->
<div class="bg-cover bg-no-repeat bg-center w-full py-36" style="background-image:url(images/banner.jpg);">
    <div class="container">
      <h1 class="text-6xl text-gray-800 font-medium mb-4 capitalize">Best collection for<br>home decoration</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> Magnam necessitatibus eaque eum saepe, cupiditate doloribus quidem cum quo.</p>
      <div class="mt-12">
        <a href="#" class="bg-primary border border-primary text-white px-8 py-3 font-medium rounded-md hover:bg-transparent hover:text-primary">Shop Now</a>
      </div>
    </div>
  </div>
  <!-- banner end -->