<!-- category start -->
<div class="container py-16">
    <h2 class="text-3xl font-medium  text-gray-800 uppercase mb-6">shop by category</h2>
    <div class="grid grid-cols-3 gap-3">
      <!-- single category start  -->
      <div class="relative rounded-sm overflow-hidden group">
        <img src="images/05_interiordesignercagla_Screen_Shot_2022-03-24_at_2.52.10_PM.png" class="w-full h-60" alt="bedroom">
        <a href="#" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-medium group-hover:bg-opacity-50 transition">Bedroom</a>
      </div>
      <!-- single category end -->
      <!-- single category start -->
          <div class="relative rounded-sm overflow-hidden group">
            <img src="images/81vzk+U8afL._AC_SL1500_.jpg" class="w-full h-60" alt="bedroom">
            <a href="#" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-medium group-hover:bg-opacity-50 transition">Mattress</a>
          </div>
      <!-- single category end -->
      <!-- single category start -->
      <div class="relative rounded-sm overflow-hidden group">
        <img src="images/office.jpg" class="w-full" alt="bedroom">
        <a href="#" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-medium group-hover:bg-opacity-50 transition">Office</a>
      </div>
      <!-- single category end -->
      <!-- single category start -->
          <div class="relative rounded-sm overflow-hidden group">
            <img src="images/outdoor-furniture-dhaka-bangladesh.jpg" class="w-full h-60" alt="bedroom">
            <a href="#" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-medium group-hover:bg-opacity-50 transition">Outdoor</a>
          </div>
      <!-- single category end -->
      <!-- single category start -->
          <div class="relative rounded-sm overflow-hidden group">
            <img src="images/Best-Sofa-With-Chaise-Lounge-Castlery-Verona-Bumper-Chaise-Sectional-Sofa.jpg" class="w-full h-60" alt="bedroom">
            <a href="#" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-medium group-hover:bg-opacity-50 transition">Lonunges & Sofas</a>
          </div>
      <!-- single category end -->
      <!-- single category start -->
      <div class="relative rounded-sm overflow-hidden group">
        <img src="images/best-dining-tables-with-chairs.jpg" class="w-full h-60" alt="bedroom">
        <a href="#" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-medium group-hover:bg-opacity-50 transition">Dining</a>
      </div>
      <!-- single category end -->
      <!-- single category start -->
          <div class="relative rounded-sm overflow-hidden group">
            <img src="images/featured-image-kitchen-layouts.jpg" class="w-full h-60" alt="bedroom">
            <a href="#" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-medium group-hover:bg-opacity-50 transition">Kitchen</a>
          </div>
      <!-- single category end -->
      <!-- single category start -->
      <div class="relative rounded-sm overflow-hidden group">
        <img src="images/living-room-decoration-ideas-homebnc.jpg" class="w-full h-60" alt="bedroom">
        <a href="#" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-medium group-hover:bg-opacity-50 transition">Living</a>
      </div>
      <!-- single category end -->
      <!-- single category start -->
      <div class="relative rounded-sm overflow-hidden group">
        <img src="images/bedroom.jpg" class="w-full" alt="bedroom">
        <a href="#" class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center text-xl text-white font-medium group-hover:bg-opacity-50 transition">Bedroom</a>
      </div>
      <!-- single category end -->
    </div>
  </div>
  <!-- category end -->