  <!-- footer start -->
<div class=" pb-10 bg-gray-300">
    <div class="px-44 grid grid-cols-4 gap-3 border-t border-gray-300 rounded-sm">
        <div>
            <div class="flex pb-4 font-semibold">
                <h2 class="text-5xl text-primary uppercase">raf</h2>
                <span class="text-5xl text-black uppercase">cart</span>
            </div>
            <p class="py-1 pb-3 text-gray-800 text-lg font-semibold capitalize">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, aliquid.</p>
            <h2 class="text-gray-900 text-2xl font-semibold uppercase pb-4">newsletter</h2>

            <input type="text" class="w-40 border border-primary  pl-4 py-1 pr-3 rounded-l-md focus:outline-none" placeholder="Search">
            <button class="bg-primary border border-primary text-white px-3 py-1 font-medium rounded-r-md hover:bg-transparent hover:text-primary"">Search</button>
        </div>
        <div>
            <h2 class="text-gray-900 text-2xl font-semibold uppercase">my account</h2>
            <a href="#">
                <p class="py-1 text-gray-800 text-lg font-semibold capitalize">order</p>
            </a>
            <a href="#">
               <p class="py-1 text-gray-800 text-lg font-semibold capitalize">wish</p>
            </a>
            <a href="#">
                <p class="py-1 text-gray-800 text-lg font-semibold capitalize"> track order</p>
            </a>
            <a href="#">
                <p class="py-1 text-gray-800 text-lg font-semibold capitalize">manage account</p>
            </a>
            <a href="#">
                <p class="py-1 text-gray-800 text-lg font-semibold capitalize">return order</p>
            </a>
        </div>
        <div class="">
            <h2 class="text-gray-900 text-2xl font-semibold uppercase">infomration</h2>
            <a href="#">
                <p class="py-1 text-gray-800 text-lg font-semibold capitalize">About us</p>
            </a>
            <a href="#">
                <p class="py-1 text-gray-800 text-lg font-semibold capitalize">return policy</p>
            </a>
            <a href="#">
                <p class="py-1 text-gray-800 text-lg font-semibold capitalize">terms & condition</p>
            </a>
            <a href="#">
                <p class="py-1 text-gray-800 text-lg font-semibold capitalize">privacy policy</p>
            </a>
            <a href="#">
                <p class="py-1 text-gray-800 text-lg font-semibold uppercase">faq</p>
            </a>
        </div>
        <div>
            <ul>
                <li class="text-gray-900 text-2xl ml-2 font-semibold uppercase">cantact</li>
                <li class="py-1 text-gray-800 text-lg capitalize font-semibold"><i class='px-2 bx bxs-location-plus' ></i>mannan plaza,khilkhet.1200
                <span class="text-gray-800 text-lg capitalize font-semibold ml-8">Dhaka.</span></li>
                <li class="py-1 text-gray-800 text-lg capitalize font-semibold"><i class='px-2 bx bxs-phone' ></i>+566 477 266.</li>
                <li class="py-1 text-gray-800 text-lg capitalize font-semibold pb-5"><i class='px-2 bx bx-envelope' ></i>info@rifu.com</li>
            </ul>
            <div class="flex items-center justify-start space-x-5">
                <a class="bg-blue-800 rounded-full" href="#"><i class='px-1 py-1 text-2xl text-white bx bxl-facebook' ></i></a>
                <a class="bg-blue-500 rounded-full" href="#"><i class='px-1 py-1 text-2xl text-white bx bxl-twitter' ></i></a>
                <a class="bg-gray-500 rounded-full" href="#"><i class='px-1 py-1 text-2xl text-white bx bxl-instagram' ></i></a>
            </div>
        </div>
        </div>
    </div>
</div>
