<div class="bg-gray-700">
    <div class="container flex items-center justify-between h-16">
      <h2 class="text-white">© RAFCART - All Rights Reserved</h2>
      <a href="#">
        <img src="images/payment-method.png" alt="" class="h-8">
      </a>
  
    </div>
  
</div>
  