<!-- <%-include("top header");-%> -->
<header class="py-4 shadow-sm ">
    <!---------- header start ---------->
    <div class="container flex items-center justify-between">
       <!-- logo -->
       <a href="#">
        <img src="images/logo.svg" class="w-32 mr-48" alt="">
      </a>
          <!-- search bar -->
      <div class="w-full mx-w-xl relative flex">
        <span class="absolute left-4 text-gray-500 top-3 text-lg">
          <i class='bx bx-search-alt-2'></i>
        </span>
        <input type="text" class="w-full border border-primary border-r-0 pl-12 py-3 pr-3 rounded-l-md focus:outline-none" placeholder="Search">
        <button class="bg-primary border border-primary text-white px-8 py-3 font-medium rounded-r-md hover:bg-transparent hover:text-primary"">Search</button>
      </div>
      <!------- icon start -------->
      <div class="flex items-center px-2 ml-32">
        <a href="#" class="text-center text-gray-500 hover:text-primary transition relative">
          <div class="text-2xl">
            <i class='bx bx-heart' ></i>
          </div>
          <div class="text-xs leading-3">Wish</div>
          <span class="relative left-4 -top-11 h-4 w-4 rounded-full flex items-center justify-center bg-primary text-[#fff] text-xs">6</span>
        </a>
      </div>
      <div class="flex items-center px-2">
        <a href="#" class="text-center text-gray-500 hover:text-primary transition relative">
          <div class="text-2xl">
            <i class='bx bx-cart' ></i>
          </div>
          <div class="text-xs leading-3">Cart</div>
          <span class="relative left-4 -top-11 h-4 w-4 rounded-full flex items-center justify-center bg-primary text-white text-xs">8</span>
        </a>
      </div>
      <div class="flex items-center px-2 ">
        <a href="#" class="text-center text-gray-500 hover:text-primary transition relative">
          <div class="text-2xl">
            <i class='bx bxs-user-account' ></i>
          </div>
          <div class="text-xs leading-3">Account</div>
          <span class="relative right-0 -top-10 h-5 w-5 rounded-full flex items-center justify-center text-white text-xs"></span>
        </a>
      </div>
      <!------- icon end -------->
    </div>
  </header>