<!-- product wrapper -->
<div class="container pb-16">
  <div class="flex items-center justify-between mb-6">
    <h2 class="text-2xl font-medium text-gray-800 uppercase ">Recommended</h2>
    <a href="#">
      <h3 class="text-lg font-medium text-gray-800 uppercase">See more
      <span><i class='bx bx-right-arrow-alt'></i></span>
      </h3>
    </a>
  </div>
  
  <!------------ product grid ------------->
  <!------------ product grid ------------->
  
      <div class="grid grid-cols-4 gap-6 sm:h-full w-full">
        <!-- single product -->
        <div class="bg-white shadow-md rounded overflow-hidden group">
          <!-- product images -->
          <div class="relative">
            <div class="absolute items-center flex justify-between pt-3 left-3">
              <p class="text-white bg-primary px-3 rounded-md text-xl">25%</p>
            </div>
            <img src="images/phone-1.png" class="w-56 h-52" alt="">
          </div>
          <!-- product images end -->
  
          <!-- product content  -->
          <div class="pt-4 pb-3 px-4">
            <a href="#">
              <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">guyer chair</h4>
            </a>
            <div class="items-center mb-1 ">
              <p class="font-semibold capitalize text-md mb-2 text-gray-500">queen headboard</p>
              <p class="text-2xl text-gray-500">$55.00
                <span class=" text-lg text-gray-500 line-through">$65</span>
              </p>
            </div>
            <div class="flex text-sm text-yellow-400 gap-1">
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span class="text-sm ml-1 text-gray-500">(165)</span>
            </div>
          </div>
          <a href="#" class="uppercase text-center text-white py-2 bg-primary block rounded-b border border-primary hover:bg-transparent hover:text-primary transition w-full">Add to cart</a>
          <!-- product content end -->
        </div>
  
        <!-- single product end -->
              <!-- single product -->
              <div class="bg-white shadow-md rounded overflow-hidden group">
                <!-- product images -->
                <div class="relative">
                  <div class="absolute items-center flex justify-between pt-3 left-3">
                    <p class="text-white bg-primary px-3 rounded-md text-xl"></p>
                  </div>
                  <img src="images/e5b58470154781.5b99c88600d3d.jpg" class="w-full h-52" alt="">
                </div>
                <!-- product images end -->
        
                <!-- product content  -->
                <div class="pt-4 pb-3 px-4">
                  <a href="#">
                    <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">SAMSUNG</h4>
                  </a>
                  <div class="items-center mb-1 ">
                    <p class="font-semibold capitalize text-md mb-2 text-gray-500">Ballance mouse</p>
                    <p class="text-2xl text-gray-500">$499.00
                      <span class=" text-lg text-gray-500 line-through">$599.00</span>
                    </p>
                  </div>
                  <div class="flex text-sm text-yellow-400 gap-1">
                    <span><i class='bx bxs-star'></i></span>
                    <span><i class='bx bxs-star'></i></span>
                    <span><i class='bx bxs-star'></i></span>
                    <span><i class='bx bxs-star'></i></span>
                    <span><i class='bx bxs-star'></i></span>
                    <span class="text-sm ml-1 text-gray-500">(165)</span>
                  </div>
                </div>
                <a href="#" class="uppercase text-center text-white py-2 bg-primary block rounded-b border border-primary hover:bg-transparent hover:text-primary transition w-full">Add to cart</a>
                <!-- product content end -->
              </div>
        
              <!-- single product end -->
                    <!-- single product -->
        <div class="bg-white shadow-md rounded overflow-hidden group">
          <!-- product images -->
          <div class="relative">
            <div class="absolute items-center flex justify-between pt-3 left-3">
              <p class="text-white bg-primary px-3 rounded-md text-xl">25%</p>
            </div>
            <img src="images/Cowin-Bluetooth-headphones-wont-work.png" class="w-full h-52" alt="">
          </div>
          <!-- product images end -->
  
          <!-- product content  -->
          <div class="pt-4 pb-3 px-4">
            <a href="#">
              <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">Beats</h4>
            </a>
            <div class="items-center mb-1 ">
              <p class="font-semibold capitalize text-md mb-2 text-gray-500">Beats studio buds</p>
              <p class="text-2xl text-gray-500">$199.00
                <span class=" text-lg text-gray-500 line-through">$209.00</span>
              </p>
            </div>
            <div class="flex text-sm text-yellow-400 gap-1">
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span class="text-sm ml-1 text-gray-500">(135)</span>
            </div>
          </div>
          <a href="#" class="uppercase text-center text-white py-2 bg-primary block rounded-b border border-primary hover:bg-transparent hover:text-primary transition w-full">Add to cart</a>
          <!-- product content end -->
        </div>
  
        <!-- single product end -->
              <!-- single product -->
              <div class="bg-white shadow-md rounded overflow-hidden group">
                <!-- product images -->
                <div class="relative">
                  <div class="absolute items-center flex justify-between pt-3 left-3">
                    <p class="text-white bg-primary px-3 rounded-md text-xl">25% OFF</p>
                  </div>
                  <img src="images/laptop-3 (1).png" class="w-full h-52" alt="">
                </div>
                <!-- product images end -->
        
                <!-- product content  -->
                <div class="pt-4 pb-3 px-4">
                  <a href="#">
                    <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">ASUS</h4>
                  </a>
                  <div class="items-center mb-1 ">
                    <p class="font-semibold capitalize text-md mb-2 text-gray-500">Asus-D509DL</p>
                    <p class="text-2xl text-gray-500">$55.00
                      <span class=" text-lg text-gray-500 line-through">$65</span>
                    </p>
                  </div>
                  <div class="flex text-sm text-yellow-400 gap-1">
                    <span><i class='bx bxs-star'></i></span>
                    <span><i class='bx bxs-star'></i></span>
                    <span><i class='bx bxs-star'></i></span>
                    <span><i class='bx bxs-star'></i></span>
                    <span><i class='bx bxs-star'></i></span>
                    <span class="text-sm ml-1 text-gray-500">(165)</span>
                  </div>
                </div>
                <a href="#" class="uppercase text-center text-white py-2 bg-primary block rounded-b border border-primary hover:bg-transparent hover:text-primary transition w-full">Add to cart</a>
                <!-- product content end -->
              </div>
        
              <!-- single product end -->
                          <!-- single product -->
        <div class="bg-white shadow-md rounded overflow-hidden group">
          <!-- product images -->
          <div class="relative">
            <div class="absolute items-center flex justify-between pt-3 left-3">
              <p class="text-white bg-primary px-3 rounded-md text-xl"></p>
            </div>
            <img src="images/iPhone-11-Pro-Gold-Color-Price-Nepal.jpg" class="w-full h-52" alt="">
          </div>
          <!-- product images end -->
  
          <!-- product content  -->
          <div class="pt-4 pb-3 px-4">
            <a href="#">
              <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">Iphone</h4>
            </a>
            <div class="items-center mb-1 ">
              <p class="font-semibold capitalize text-md mb-2 text-gray-500">iphone 11 Pro max</p>
              <p class="text-2xl text-gray-500">$55.00
                <span class=" text-lg text-gray-500 line-through">$65</span>
              </p>
            </div>
            <div class="flex text-sm text-yellow-400 gap-1">
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span class="text-sm ml-1 text-gray-500">(165)</span>
            </div>
          </div>
          <a href="#" class="uppercase text-center text-white py-2 bg-primary block rounded-b border border-primary hover:bg-transparent hover:text-primary transition w-full">Add to cart</a>
          <!-- product content end -->
        </div>            <!-- single product -->
        <div class="bg-white shadow-md rounded overflow-hidden group">
          <!-- product images -->
          <div class="relative">
            <div class="absolute items-center flex justify-between pt-3 left-3">
              <p class="text-white bg-primary px-3 rounded-md text-xl">25%</p>
            </div>
            <img src="images/AFC-Importing-Electronics-1-7-7-16.jpg" class="w-full h-52" alt="">
          </div>
          <!-- product images end -->
  
          <!-- product content  -->
          <div class="pt-4 pb-3 px-4">
            <a href="#">
              <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">guyer chair</h4>
            </a>
            <div class="items-center mb-1 ">
              <p class="font-semibold capitalize text-md mb-2 text-gray-500">queen headboard</p>
              <p class="text-2xl text-gray-500">$55.00
                <span class=" text-lg text-gray-500 line-through">$65</span>
              </p>
            </div>
            <div class="flex text-sm text-yellow-400 gap-1">
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span class="text-sm ml-1 text-gray-500">(165)</span>
            </div>
          </div>
          <a href="#" class="uppercase text-center text-white py-2 bg-primary block rounded-b border border-primary hover:bg-transparent hover:text-primary transition w-full">Add to cart</a>
          <!-- product content end -->
        </div>            <!-- single product -->
        <div class="bg-white shadow-md rounded overflow-hidden group">
          <!-- product images -->
          <div class="relative">
            <div class="absolute items-center flex justify-between pt-3 left-3">
              <p class="text-white bg-primary px-3 rounded-md text-xl">25%</p>
            </div>
            <img src="images/AFC-Importing-Electronics-1-7-7-16.jpg" class="w-full h-52" alt="">
          </div>
          <!-- product images end -->
  
          <!-- product content  -->
          <div class="pt-4 pb-3 px-4">
            <a href="#">
              <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">guyer chair</h4>
            </a>
            <div class="items-center mb-1 ">
              <p class="font-semibold capitalize text-md mb-2 text-gray-500">queen headboard</p>
              <p class="text-2xl text-gray-500">$55.00
                <span class=" text-lg text-gray-500 line-through">$65</span>
              </p>
            </div>
            <div class="flex text-sm text-yellow-400 gap-1">
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span class="text-sm ml-1 text-gray-500">(165)</span>
            </div>
          </div>
          <a href="#" class="uppercase text-center text-white py-2 bg-primary block rounded-b border border-primary hover:bg-transparent hover:text-primary transition w-full">Add to cart</a>
          <!-- product content end -->
        </div>            <!-- single product -->
        <div class="bg-white shadow-md rounded overflow-hidden group">
          <!-- product images -->
          <div class="relative">
            <div class="absolute items-center flex justify-between pt-3 left-3">
              <p class="text-white bg-primary px-3 rounded-md text-xl">25%</p>
            </div>
            <img src="images/AFC-Importing-Electronics-1-7-7-16.jpg" class="w-full h-52" alt="">
          </div>
          <!-- product images end -->
  
          <!-- product content  -->
          <div class="pt-4 pb-3 px-4">
            <a href="#">
              <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">guyer chair</h4>
            </a>
            <div class="items-center mb-1 ">
              <p class="font-semibold capitalize text-md mb-2 text-gray-500">queen headboard</p>
              <p class="text-2xl text-gray-500">$55.00
                <span class=" text-lg text-gray-500 line-through">$65</span>
              </p>
            </div>
            <div class="flex text-sm text-yellow-400 gap-1">
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span><i class='bx bxs-star'></i></span>
              <span class="text-sm ml-1 text-gray-500">(165)</span>
            </div>
          </div>
          <a href="#" class="uppercase text-center text-white py-2 bg-primary block rounded-b border border-primary hover:bg-transparent hover:text-primary transition w-full">Add to cart</a>
          <!-- product content end -->
        </div>
      </div>
  <!------------ product grid end ------------>
  </div>