<!-- product wrapper start -->
<div class="container pb-16">
    <h2 class="text-3xl font-semibold text-gray-800 uppercase">top ranking</h2>
    <div class="grid grid-cols-4 gap-4">
        <!-- single product start -->
        <div class="">
            <h2 class="text-xl font-semibold capitalize py-3">watch</h2>
            <div class="grid grid-cols-2">
                <div class="bg-gray-100 flex items-center justify-center rounded-md h-24">
                    <a href="#">
                        <img src="images/apple-watch.png" alt="" class="h-20 w-16 ">
                    </a>
                </div>
                <div class="p-2">
                    <a href="#">
                        <p class="text-lg font-semibold capitalize text-gray-800 hover:text-primary cursor-pointer">apple watch</p>
                    </a>
                    <p class="text-lg text-primary">$200
                        <span class="text-sm text-gray-700 line-through">$300</span>
                      </p>
                      <div class="flex text-sm text-yellow-400 gap-1">
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span class="text-sm ml-1 text-gray-500">(165)</span>
                      </div>
                </div>
            </div>
        </div>
        <!-- single product end -->
        <!-- single product start -->
        <div class="">
            <h2 class="text-xl font-semibold capitalize py-3">Laptop</h2>
            <div class="grid grid-cols-2">
                <div class="bg-gray-100 flex items-center justify-center rounded-md h-24">
                    <a href="#">
                        <img src="images/laptop-1.png" alt="" class="h-20 w-24 ">
                    </a>
                </div>
                <div class="p-2">
                    <a href="#">
                        <p class="text-lg font-semibold capitalize text-gray-800 hover:text-primary cursor-pointer">Dell inspire 14</p>
                    </a>
                    <p class="text-lg text-primary">$200
                        <span class="text-sm text-gray-700 line-through">$300</span>
                      </p>
                      <div class="flex text-sm text-yellow-400 gap-1">
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span class="text-sm ml-1 text-gray-500">(165)</span>
                      </div>
                </div>
            </div>
        </div>
        <!-- single product end -->
        <!-- single product start -->
        <div class="">
            <h2 class="text-xl font-semibold capitalize py-3">Phone</h2>
            <div class="grid grid-cols-2">
                <div class="bg-gray-100 flex items-center justify-center rounded-md h-24">
                    <a href="#">
                        <img src="images/phone-1 (1).png" alt="" class="h-20 w-24 ">
                    </a>
                </div>
                <div class="p-2">
                    <a href="#">
                        <p class="text-lg font-semibold capitalize text-gray-800 hover:text-primary cursor-pointer">Xiaomi Note 7</p>
                    </a>
                    <p class="text-lg text-primary">$40
                        <span class="text-sm text-gray-700 line-through">$48</span>
                      </p>
                      <div class="flex text-sm text-yellow-400 gap-1">
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span class="text-sm ml-1 text-gray-500">(165)</span>
                      </div>
                </div>
            </div>
        </div>
        <!-- single product end -->
        <!-- single product start -->
        <div class="">
            <h2 class="text-xl font-semibold capitalize py-3">headphones</h2>
            <div class="grid grid-cols-2">
                <div class="bg-gray-100 flex items-center justify-center rounded-md h-24">
                    <a href="#">
                        <img src="images/headphone-1.png" alt="" class="h-20 w-24 ">
                    </a>
                </div>
                <div class="p-2">
                    <a href="#">
                        <p class="text-base font-semibold capitalize text-gray-800 hover:text-primary cursor-pointer">Bose 7Dr</p>
                    </a>
                    <p class="text-lg text-primary">$200
                        <span class="text-sm text-gray-700 line-through">$300</span>
                      </p>
                      <div class="flex text-sm text-yellow-400 gap-1">
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span class="text-sm ml-1 text-gray-500">(165)</span>
                      </div>
                </div>
            </div>
        </div>
        <!-- single product end -->
        <!-- single product start -->
        <div class="">
            <div class="grid grid-cols-2">
                <div class="bg-gray-200 flex items-center justify-center rounded-md h-24">
                    <a href="#">
                        <img src="images/watch2.png" alt="" class="h-24 w-16 ">
                    </a>
                </div>
                <div class="p-2">
                    <a href="#">
                        <p class="text-lg font-semibold capitalize text-gray-800 hover:text-primary cursor-pointer">Callie watch</p>
                    </a>
                    <p class="text-lg text-primary">$150
                        <span class="text-sm text-gray-700 line-through">$180</span>
                      </p>
                      <div class="flex text-sm text-yellow-400 gap-1">
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span class="text-sm ml-1 text-gray-500">(165)</span>
                      </div>
                </div>
            </div>
        </div>
        <!-- single product end -->
        <!-- single product start -->
        <div class="">
            <div class="grid grid-cols-2">
                <div class="bg-gray-100 flex items-center justify-center rounded-md h-24">
                    <a href="#">
                        <img src="images/laptop-2.png" alt="" class="h-20 w-16 ">
                    </a>
                </div>
                <div class="p-2">
                    <a href="#">
                        <p class="text-lg font-semibold capitalize text-gray-800 hover:text-primary cursor-pointer">HP Omen 13</p>
                    </a>
                    <p class="text-lg text-primary">$200
                        <span class="text-sm text-gray-700 line-through">$300</span>
                      </p>
                      <div class="flex text-sm text-yellow-400 gap-1">
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span class="text-sm ml-1 text-gray-500">(165)</span>
                      </div>
                </div>
            </div>
        </div>
        <!-- single product end -->
        <!-- single product start -->
        <div class="">
            <div class="grid grid-cols-2">
                <div class="bg-gray-100 flex items-center justify-center rounded-md h-24">
                    <a href="#">
                        <img src="images/phone-2 (1).png" alt="" class="h-20 w-24 ">
                    </a>
                </div>
                <div class="p-2">
                    <a href="#">
                        <p class="text-lg font-semibold capitalize text-gray-800 hover:text-primary cursor-pointer">iphone 11 max</p>
                    </a>
                    <p class="text-lg text-primary">$200
                        <span class="text-sm text-gray-700 line-through">$300</span>
                      </p>
                      <div class="flex text-sm text-yellow-400 gap-1">
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span class="text-sm ml-1 text-gray-500">(165)</span>
                      </div>
                </div>
            </div>
        </div>
        <!-- single product end -->
        <!-- single product start -->
        <div class="">
            <div class="grid grid-cols-2">
                <div class="bg-gray-100 flex items-center justify-center rounded-md h-24">
                    <a href="#">
                        <img src="images/headphone-20.png" alt="" class="h-20 w-24 ">
                    </a>
                </div>
                <div class="p-2">
                    <a href="#">
                        <p class="text-lg font-semibold capitalize text-gray-800 hover:text-primary cursor-pointer">COWIN E7</p>
                    </a>
                    <p class="text-lg text-primary">$40
                        <span class="text-sm text-gray-700 line-through">$50</span>
                      </p>
                      <div class="flex text-sm text-yellow-400 gap-1">
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span class="text-sm ml-1 text-gray-500">(165)</span>
                      </div>
                </div>
            </div>
        </div>
        <!-- single product end -->
        <!-- single product start -->
        <div class="">
            <div class="grid grid-cols-2">
                <div class="bg-gray-100 flex items-center justify-center rounded-md h-24">
                    <a href="#">
                        <img src="images/watch3.png" alt="" class="h-20 w-16 ">
                    </a>
                </div>
                <div class="p-2">
                    <a href="#">
                        <p class="text-lg font-semibold capitalize text-gray-800 hover:text-primary cursor-pointer">cruz watch</p>
                    </a>
                    <p class="text-lg text-primary">$100
                        <span class="text-sm text-gray-700 line-through">$120</span>
                      </p>
                      <div class="flex text-sm text-yellow-400 gap-1">
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span class="text-sm ml-1 text-gray-500">(165)</span>
                      </div>
                </div>
            </div>
        </div>
        <!-- single product end -->
        <!-- single product start -->
        <div class="">
            <div class="grid grid-cols-2">
                <div class="bg-gray-100 flex items-center justify-center rounded-md h-24">
                    <a href="#">
                        <img src="images/laptop-3.png" alt="" class="h-20 w-24 ">
                    </a>
                </div>
                <div class="p-2">
                    <a href="#">
                        <p class="text-lg font-semibold capitalize text-gray-800 hover:text-primary cursor-pointer">hp pavilion 15</p>
                    </a>
                    <p class="text-lg text-primary">$200
                        <span class="text-sm text-gray-700 line-through">$300</span>
                      </p>
                      <div class="flex text-sm text-yellow-400 gap-1">
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span class="text-sm ml-1 text-gray-500">(165)</span>
                      </div>
                </div>
            </div>
        </div>
        <!-- single product end -->
        <!-- single product start -->
        <div class="">
            <div class="grid grid-cols-2">
                <div class="bg-gray-100 flex items-center justify-center rounded-md h-24">
                    <a href="#">
                        <img src="images/phone-3.png" alt="" class="h-20 w-24 ">
                    </a>
                </div>
                <div class="p-2">
                    <a href="#">
                        <p class="text-lg font-semibold capitalize text-gray-800 hover:text-primary cursor-pointer">oppo poco f1</p>
                    </a>
                    <p class="text-lg text-primary">$200
                        <span class="text-sm text-gray-700 line-through">$300</span>
                      </p>
                      <div class="flex text-sm text-yellow-400 gap-1">
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span class="text-sm ml-1 text-gray-500">(165)</span>
                      </div>
                </div>
            </div>
        </div>
        <!-- single product end -->
        <!-- single product start -->
        <div class="">
            <div class="grid grid-cols-2">
                <div class="bg-gray-100 flex items-center justify-center rounded-md h-24">
                    <a href="#">
                        <img src="images/headphone-3.png" alt="" class="h-20 w-16 ">
                    </a>
                </div>
                <div class="p-2">
                    <a href="#">
                        <p class="text-lg font-semibold capitalize text-gray-800 hover:text-primary cursor-pointer">beats 12F</p>
                    </a>
                    <p class="text-lg text-primary">$200
                        <span class="text-sm text-gray-700 line-through">$300</span>
                      </p>
                      <div class="flex text-sm text-yellow-400 gap-1">
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span><i class='bx bxs-star'></i></span>
                        <span class="text-sm ml-1 text-gray-500">(165)</span>
                      </div>
                </div>
            </div>
        </div>
        <!-- single product end -->

    </div>
</div>
<!-- product wrapper end -->